
@{
    ViewBag.Title = "Create New Account";
}


@using (@Html.BeginForm())
{
    
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Account Details</legend>
        <p>
            @Html.Raw("Player: " + @WebSecurity.CurrentUserName)
        </p>
        <p>
            @Html.Raw("Do you allow this website to publish some of your personal information?\n(Username, Scores related to ReadyPlayerSite) *Required*")
             @Html.CheckBox("acceptterms", false)
        </p>
        <input type="submit" />
    </fieldset>
}