@model List<ReadyPlayerSite.ViewModels.ScoreboardDetails>
@using ReadyPlayerSite.ViewModels
@{
    ViewBag.Title = ViewBag.boardType + " Leaderboard";
    ViewBag.playerCount = 1;
    var admin = User.IsInRole("Administrator") ? "true" : "false";
    var currentPage = ViewBag.page;
}

<hr />
<div>
    @Html.ActionLink("Total", "Index")
    @Html.Raw(" | ")
    @Html.ActionLink("Attendance", "Index", new { scoreType = "attendance" })
    @Html.Raw(" | ")
    @Html.ActionLink("Cooperation", "Index", new { scoreType = "cooperation" })
    @Html.Raw(" | ")
    @Html.ActionLink("Cross Curricular", "Index", new { scoreType = "crosscurricular" })
    @Html.Raw(" | ")
    @Html.ActionLink("Puzzle", "Index", new { scoreType = "puzzle" })
    @Html.Raw(" | ")
    @Html.ActionLink("Story", "Index", new { scoreType = "story" })
</div>
<hr />
<form id="searchform">
    <p>
        @Html.Raw("Search For User")
    </p>
    <div>
        <input id="searchbox" type="text" />
        <input type="submit" />
    </div>
    <p id="searchstatus" class="success hidden">
        Searching For User. . .
    </p>
    <p id="searchfailed" class="warning hidden">
        Could Not Find User.
    </p>
</form>
<h3>@ViewBag.boardType Leaderboard</h3>
@if (Model.Count() > 0)
{
    <table id="board" class="table">
        <tr>
            <th>
                @Html.Raw("Rank")
            </th>
            <th>
                @Html.Raw("User")
            </th>
            <th>
                @Html.Raw("Points")
            </th>
            <th>
                @Html.Raw("Milestones")
            </th>
            <th></th>
        </tr>
        @foreach (ScoreboardDetails item in Model)
        {
            <tr id="@item.player.user.username" @if (ViewBag.playerCount < 11)
                                                { @Html.Raw("class=\'larger\'")} >
                <td @if (ViewBag.playerCount < 11)
                    { @Html.Raw("class=\'topten\'")} >
                    @(ViewBag.playerCount++)
                </td>
                <td>
                    @if (User.IsInRole("Administrator"))
                    {
                        @Html.ActionLink("" + @Html.DisplayFor(model => item.player.user.username), "Details", "Users", new { id = item.player.ID }, null)
                    }
                    else
                    {
                        @Html.DisplayFor(model => item.player.user.username)
                    }
                </td>
                <td @if (ViewBag.playerCount < 12)
                    { @Html.Raw("class=\'topten\'")} >
                    @Html.DisplayFor(model => item.value)
                </td>
                <td>
                    @foreach (IconDetails icon in item.iconList)
                    {
                        <img src="@Url.Content("~/Content/icons/" + icon.iconName)" alt="@icon.name" title="@icon.name" height="42" width="42"/>
                    }
                </td>
                <td>
                    @if (User.IsInRole("Administrator"))
                    {
                        @Html.ActionLink("Manage Player", "ManagePlayer", "Admin", new { id = item.player.ID }, null)
                    }
                </td>

            </tr>
        }
    </table>
    <div id="scrollFooter" class="success">@Html.Raw("Loading Additional Players. . . ")</div>
}
else
{
    @Html.Raw("No Players In Database")
}

@section Scripts{
    <script type="text/javascript">
        //http://lions-mark.com/jquery/scrollTo/
        $(document).ready(function () {
            var isAdmin = @admin
            $.fn.scrollTo = function (target, options, callback) {
                if (typeof options == 'function' && arguments.length == 2) { callback = options; options = target; }
                var settings = $.extend({
                    scrollTarget: target,
                    offsetTop: 50,
                    duration: 500,
                    easing: 'swing'
                }, options);
                return this.each(function () {
                    var scrollPane = $(this);
                    var scrollTarget = (typeof settings.scrollTarget == "number") ? settings.scrollTarget : $(settings.scrollTarget);
                    var scrollY = (typeof scrollTarget == "number") ? scrollTarget : scrollTarget.offset().top + scrollPane.scrollTop() - parseInt(settings.offsetTop);
                    scrollPane.animate({ scrollTop: scrollY }, parseInt(settings.duration), settings.easing, function () {
                        if (typeof callback == 'function') { callback.call(this); }
                    });
                });
            }
            
            $("#searchform").bind('submit', function (e) {
                e.preventDefault();
                $('#searchstatus').removeClass('hidden');
                if (!$('#searchfailed').hasClass('hidden')) {
                    $('#searchfailed').addClass('hidden');
                }
                var username = $("#searchbox").val();

                $.ajax({
                    type: "POST",
                    url: "/LeaderBoard/findPlayer/",
                    dataType: "json",
                    data: { page: currentPage, boardType: "@(ViewBag.boardType)", userName: username },
                    success: function (data) {
                        if (data.found) {
                            if (data.onPage > currentPage) {
                                currentPage = data.onPage;
                                for (var x in data.playersToLoad) {
                                    var iconList = "";
                                    for (var y in data.playersToLoad[x].iconList) {
                                        var icon = data.playersToLoad[x].icons[y]
                                        var icons = '<img src=\'/Content/Icons/' + icon.iconName + '\' alt=\'' + icon.name + '\' title=\'' + icon.name + '\' height="42" width="42"/>';
                                        iconList += icons;
                                    }
                                    $("#board tr:last").after('<tr id=\'' + data.playersToLoad[x].player.user.username + '\'><td>' + playerCount++ + '</td><td>' + data.playersToLoad[x].player.user.username + '</td><td>' + data.playersToLoad[x].value + '</td><td>' + iconList + '</td></tr>');

                                }
                            }
                            $(".highlight").removeClass('highlight');
                            $("#" + username).addClass('highlight');
                            $('#searchstatus').addClass('hidden');
                            if (!isScrolledIntoView($("#" + username))) {
                                $("body").scrollTo('#' + username);
                            }

                        } else {
                            $('#searchstatus').addClass('hidden');
                            $('#searchfailed').removeClass('hidden');
                        }
                    }
                });
            });
            var check = true;
            var playerCount = 101;
            var currentPage = @currentPage
            
            function addPlayers() {
                $.ajax({
                    type: "POST",
                    url: "/LeaderBoard/getPlayers/",
                    dataType: "json",
                    data: { page: ++currentPage, scoreType: "@(ViewBag.boardType)" },
                    success: function (data) {
                        if (!data.morePlayers) {
                            var ele = document.getElementById("scrollFooter");
                            ele.parentNode.removeChild(ele);
                        } else {
                            for (var x in data.players) {
                                var iconList = "";
                                for (var y in data.players[x].iconList) {
                                    var icon = data.players[x].icons[y]
                                    var icons = '<img src=\'/Content/Icons/' + icon.iconName + '\' alt=\'' + icon.name + '\' title=\'' + icon.name + '\' height="42" width="42"/>';
                                    iconList += icons;
                                }
                                if (isAdmin) {
                                    $("#board tr:last").after('<tr id=\'' + data.players[x].player.user.username + '\'><td>' + playerCount++ + '</td><td><a href="/Users/Details/' + data.players[x].player.ID +'">' + data.players[x].player.user.username + '</a></td><td>' + data.players[x].value + '</td><td>' + iconList + '</td><td><a href="/Admin/ManagePlayer/' + data.players[x].player.ID + '">Manage Player</a></td></tr>');

                                } else {
                                    $("#board tr:last").after('<tr id=\'' + data.players[x].player.user.username + '\'><td>' + playerCount++ + '</td><td>' + data.players[x].player.user.username + '</td><td>' + data.players[x].value + '</td><td>' + iconList + '</td><td></td></tr>');
                                }
                            }
                        }
                        check = true;
                    }
                });
            }

            function isScrolledIntoView(elem) {
                if (elem == undefined || elem.length < 1)
                    return false;
                var docViewTop = $(window).scrollTop();
                var docViewBottom = docViewTop + $(window).height();

                var elemTop = $(elem).offset().top;
                var elemBottom = elemTop + $(elem).height();

                return ((elemBottom >= docViewTop) && (elemTop <= docViewBottom));
            }
            function checkAndLoad() {
                if (isScrolledIntoView($('#scrollFooter'))) {
                    check = false;
                    addPlayers();
                }
            }


            checkAndLoad();
            $(window).scroll(function () {
                if (check)
                    checkAndLoad();
            });
        });
    </script>
}