@model IEnumerable<ReadyPlayerSite.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.username)
        </th>
        <th class ="left-align">
             @Html.DisplayNameFor(model => model.realName) 
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("" + @Html.DisplayFor(modelItem => item.username), "Details", new { id = item.ID })
        </td>
        <td class="left-align">
              @Html.DisplayFor(modelItem => item.realName) 
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
