@{
    ViewBag.Title = "LeaderBoard";
}

<section class="featured">
    <div class="content-wrapper">
        <p>
            Ready Player One leaderboard not yet availible.    
        </p>
    </div>
    <div>
        <center>
            Please select the leaderboard you would liketo see:  
            <ul id="Leaderboard">
                <li>@Html.ActionLink("Total Score", "total", "Home/Leaderboard")</li>
                <li>@Html.ActionLink("Attendance Score", "attendance", "Home/Leaderboard")</li>
                <li>@Html.ActionLink("Cooperation Score", "cooperation", "Home/Leaderboard")</li>
                <li>@Html.ActionLink("Cross-Curricular Score", "crosscurricular", "Home/Leaderboard")</li>
                <li>@Html.ActionLink("Puzzle Score", "puzzle", "Home/Leaderboard")</li>
                <li>@Html.ActionLink("Story Score", "story", "Home/Leaderboard")</li>
            </ul>
        </center>
    </div>
    <div>







    </div>
</section>
