@model ReadyPlayerSite.ViewModels.TasksAndMilestones
@using ReadyPlayerSite.Models;
@{
    ViewBag.Title = "Task Index";
}

@if (User.IsInRole("Administrator"))
{
    @Html.ActionLink("Create New Task", "Create", "Tasks")
}

@if (Model.tasks.Count <= 0)
{
    <h3>No Tasks Found</h3>
}
else
{
    
    <h2 class="tableheader">Tasks</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tasks.First().name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tasks.First().type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tasks.First().value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tasks.First().start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tasks.First().end)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.tasks)
        {
            <tr>
                <td>
                    @Html.ActionLink("" + @Html.DisplayFor(model => item.name), "Details", new { id = item.ID })
                </td>
                <td>
                    @Html.DisplayFor(model => item.type)
                </td>
                <td>
                    @Html.DisplayFor(model => item.value)
                </td>
                <td>
                    @if (item.start.HasValue)
                    {
                        @Html.DisplayFor(model => item.start)
                    }
                    else
                    {
                        @Html.Raw("--/--/---- --:--:--")  
                    }
                </td>
                <td>
                    @if (item.end.HasValue)
                    {
                        @Html.DisplayFor(model => item.end)
                    }
                    else
                    {
                        @Html.Raw("--/--/---- --:--:--")   
                    }
                </td>
                <td>
                    @if (item.solution != "")
                    { 
                        @Html.ActionLink("Solve", "Submit", new { id = item.ID })
                    }
                    @if (User.IsInRole("Administrator"))
                    {
                        @Html.Raw(" | ") 
                        @Html.ActionLink("Edit", "Edit", new { item.ID })
                    }
                </td>
            </tr>
        }
    </table>
}
@if (Model.milestones.Count <= 0)
{
    <h3>No Milestones Found</h3>
}
else
{
    <h2 class="tableheader">Milestones</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.milestones.First().name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.milestones.First().type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.milestones.First().value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.milestones.First().start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.milestones.First().end)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.milestones.First().bonusPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.milestones.First().maxCompletedBonus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.milestones.First().iconName)
            </th>
            <th></th>
        </tr>
        @foreach (Task item in Model.milestones)
        {
            <tr>
                <td>
                    @Html.ActionLink("" + @Html.DisplayFor(model => item.name), "Details", new { id = item.ID })
                </td>
                <td>
                    @Html.DisplayFor(model => item.type)
                </td>
                <td>
                    @Html.DisplayFor(model => item.value)
                </td>
                <td>
                    @if (item.start.HasValue)
                    {
                        @Html.DisplayFor(model => item.start)
                    }
                    else
                    {
                        @Html.Raw("--/--/---- --:--:--")  
                    }
                </td>
                <td>
                    @if (item.end.HasValue)
                    {
                        @Html.DisplayFor(model => item.end)
                    }
                    else
                    {
                        @Html.Raw("--/--/---- --:--:--")   
                    }
                </td>
                <td>
                    @Html.DisplayFor(model => item.bonusPoints)
                </td>
                <td>
                    @Html.DisplayFor(model => item.maxCompletedBonus)
                </td>
                <td>
                    <img src="@Url.Content("~/Content/icons/" + item.iconName)" alt="@item.name" title="@item.name" height="42" width="42"/>
                </td>
                <td>
                    @Html.ActionLink("Solve", "Submit", new { id = item.ID })
                    @if (User.IsInRole("Administrator"))
                    {
                        @Html.Raw(" | ")
                        @Html.ActionLink("Edit", "Edit", new { item.ID })
                    }
                </td>
            </tr>
            
        }

    </table>
    
}