@model List<ReadyPlayerSite.Models.AdminAction>

<h3>Admin Options</h3>
<p>
    @Html.ActionLink("Create a New Task", "Create", "Tasks")
</p>
<p>

</p>
@using (Html.BeginForm("ManagePlayerByUsername", "Admin", FormMethod.Get))
{
    <p>
        @Html.TextBox("username", "Username")
        <input type="submit" value="Manage User" />
    </p>
}
<br />
<h1>Administration Log</h1>
@if (Model.Count <= 0)
{
    <h3>No Administration Actions Performed</h3>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().player.user.username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().when)
            </th>
            <th>
                @Html.Raw("Issued By")
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("" + @Html.DisplayFor(modelItem => item.player.user.username), "../Users/Details", new { id = item.playerID })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.when)
                </td>
                <td>
                    @Html.ActionLink("" + @Html.DisplayFor(modelItem => item.user.username), "../Users/Details", new { id = item.ID })
                </td>
                <td>
                    @Html.ActionLink("View Details", "Details", new { id = item.ID })
                </td>
            </tr>
        }
    </table>   
}

@section Scripts{
    <script type="text/javascript">
        function manageUser(username) {
            window.location = "Admin/ManagePlayerByEid/?username=" + username;
        }
    </script>
}