@model ReadyPlayerSite.Models.AdminAction

@{
    ViewBag.Title = "Perform Admin Action on a Player";
}

<div class="contentbox">
    <div class="liquid_100">
        @using (Html.BeginForm("ManagePlayer", "Admin", FormMethod.Post, new { @id = "editform" }))
        {
            @Html.ValidationSummary(true)
            <fieldset>
                <legend>Admin Action For @ViewBag.playerusername</legend>
                <ol>
                    <li>
                        @Html.LabelFor(model => model.type)
                        @Html.DropDownList("type", (SelectList)ViewBag.actionSelect, new { onchange = "setPointVisibility()" })
                        @Html.ValidationMessageFor(model => model.type)
                    </li>

                    <li>
                        <div class="PointOptions">
                            @Html.LabelFor(model => model.modifyTarget)
                            @Html.DropDownList("modifyTarget", (SelectList)ViewBag.typeSelect)
                            @Html.ValidationMessageFor(model => model.modifyTarget)
                        </div>
                    </li>
                    <li>
                        <div class="PointOptions">
                            @Html.LabelFor(model => model.value)
                            @Html.EditorFor(model => model.value)
                            @Html.ValidationMessageFor(model => model.value)
                        </div>
                    </li>

                    <li>
                        @Html.LabelFor(model => model.reason)
                        @Html.EditorFor(model => model.reason)
                        @Html.ValidationMessageFor(model => model.reason)
                    </li>
                    
                    @Html.Hidden("playerID", (Object)ViewBag.playerID)
                    @Html.Hidden("userID", (Object)ViewBag.adminID)
                    @Html.Hidden("when", (Object)ViewBag.time)
                </ol>
            </fieldset>
            <p>
                <input type="submit" value="ManagePlayer" />
            </p>
        }
        <p>
            @Html.ActionLink("Back to Admin Index", "Index")
        </p>
    </div>
</div>


@section Scripts{
    <script>
        function setPointVisibility() {
            var selected = $("#type").val()
            if (selected == "AddPoints" || selected == "RemovePoints") {
                $(".PointOptions").show()
            } else {
                $(".PointOptions").hide()
            }
        }
    </script>
}